/*Sass - 30/06/2020  sass --watch resources/sass/app.scss:public/style.css*/
* {
  padding: 0;
  margin: 0; }

.main .category-photos {
  padding: 10px;
  background-origin: border-box;
  background-attachment: revert;
  background-position: top;
  background-repeat-x: repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  margin: 0 10px;
  min-height: 900px; }

.main .category-heading h2, .main .category-photos .category-heading h2, .main .select-category h2, .main .sub-content h2, .main .main-content {
  background: lightgreen;
  border: 0;
  border-radius: 10px;
  margin: 5px;
  border: 2px solid black;
  margin-bottom: 10px;
  margin: 10px 10px; }

.main .category-heading h2, .main .category-photos .category-heading h2, .main .select-category h2, .main .sub-content h2 {
  font-size: 15px;
  color: white;
  color: black;
  margin: 10px;
  padding: 20px; }
  @media (max-width: 1048px) {
    .main .category-heading h2, .main .category-photos .category-heading h2, .main .select-category h2, .main .sub-content h2 {
      padding: 10px; } }

.main .main-content {
  min-height: 280px;
  min-height: auto;
  height: auto; }

textarea#comments, input#name, input#privacy {
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px;
  width: 200px; }

#btn {
  background: yellow;
  padding: 6px;
  cursor: pointer;
  width: 120px; }

.header .main-nav ul {
  width: 65%;
  padding: 1px;
  height: 40px;
  background: #0d2b70;
  border-radius: 10px;
  position: relative;
  /* right: 20px; */
  width: 50%;
  top: 10px;
  vertical-align: top;
  display: inline-block; }
  @media (max-width: 1048px) {
    .header .main-nav ul {
      text-align: center;
      width: 70%; } }

/*Header*/
.header {
  display: grid;
  grid-template-columns: minmax(10%, 20%) 700px 1fr;
  border-bottom: black 3px solid;
  background: lightblue;
  background: url("../public/img/top_banner.png");
  background: url("../img/top_banner.png");
  /*border: solid black 1px;*/
  text-align: center;
  padding: 10px; }
  @media (min-width: 1490px) {
    .header {
      grid-template-columns: minmax(10%, 20%) 531px 1fr;
      /*min-height: 150px;*/ } }
  @media (max-width: 1489px) {
    .header {
      grid-template-columns: minmax(10%, 30%) 350px 1fr;
      vertical-align: top;
      padding: 10px; } }
  @media (max-width: 872px) {
    .header {
      display: block;
      /*grid-template-columns: minmax(10%, 14%) 40% 1fr;*/ } }
  .header div {
    /*border: black 1px solid;*/
    display: inline-block; }
  @media (max-width: 872px) {
    .header .logo-container {
      text-align: center; } }
  .header .logo-container img {
    width: 200px;
    width: 100px; }
    @media (max-width: 872px) {
      .header .logo-container img {
        display: block;
        margin: 0 auto; } }
  .header .logo-container img.main-logo {
    display: block;
    border-radius: 60px;
    border-radius: 50%;
    padding: 12px; }
  .header .website-title {
    vertical-align: top;
    text-align: center; }
    .header .website-title h1 {
      font-family: Roboto;
      font-size: 36pt;
      font-weight: bold;
      color: white;
      outline: tomato;
      /*padding-top: 30px;*/ }
      @media (max-width: 1048px) {
        .header .website-title h1 {
          padding-top: 10px; } }
  .header .main-nav {
    text-align: right; }
    @media (max-width: 1490px) {
      .header .main-nav {
        /*text-align: right;*/ } }
    @media (max-width: 1048px) {
      .header .main-nav {
        padding-top: 10px;
        text-align: center; } }
    .header .main-nav ul {
      padding-top: 10px;
      margin: 10px 0px; }
      @media (max-width: 1490px) {
        .header .main-nav ul {
          width: 100%;
          width: 87%; } }
      @media (max-width: 872px) {
        .header .main-nav ul {
          text-align: center; } }
      .header .main-nav ul li {
        display: inline-block;
        list-style: none;
        margin-right: 10px;
        /*font-size: 14pt;*/
        font-size: 10pt;
        vertical-align: middle; }
      .header .main-nav ul a {
        display: inline-block;
        color: #f0e65c;
        font-weight: bold;
        text-decoration: none; }
        .header .main-nav ul a:hover {
          /*text-decoration: underline;*/
          color: #aff179; }
        .header .main-nav ul a img {
          width: 30px; }
      .header .main-nav ul a.selected {
        text-decoration: none;
        font-weight: bold;
        color: #aff179; }
      .header .main-nav ul a.nav-item {
        display: list-item; }

/*main*/
body {
  background: lightblue;
  font-family: "arial";
  font-size: 10px;
  /*background: url("img/.png");*/ }

* {
  padding: 0;
  margin: 0; }

.main {
  /*border: solid black 1px;*/
  display: grid;
  /*width: 60%;*/
  width: 100%;
  background: lightblue;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 2fr 260px;
  grid-template-columns: 1fr 360px;
  height: auto; }
  @media (max-width: 1048px) {
    .main {
      grid-template-columns: 1fr 160px;
      grid-template-columns: 1fr 250px; } }
  .main .category-heading {
    /*padding: 20px;*/
    width: 99%;
    width: 100%; }
    @media (max-width: 680px) {
      .main .category-heading {
        /*padding: 10px;*/ } }
  .main .select-category {
    /*width: 100%;*/
    width: 86%; }
    .main .select-category p {
      line-height: 2; }
  .main .main-content p {
    color: black;
    font-size: 15pt;
    line-height: 1.9;
    margin-bottom: 20px; }
  .main .category-content {
    /* border: solid black 1px; */
    display: grid;
    grid-template-rows: 100px 1fr;
    /*  h2 {
         //@extend %headings;
     } */
        /* .category-photos {            
            background: url("../public/img/main_bg.jpg");
                        
            @extend %main_bg_props;

            @extend %main-content-panels;
        } */ }
    .main .category-content p {
      color: black; }

/*home route partial*/
.main .category-photos {
  background: url("img/main_bg.jpg");
  background: url("public/img/main_bg.jpg");
  background: url("../img/main_bg.jpg");
  background-size: cover;
  border: yellow solid 1px;
  min-height: 1047px; }
  .main .category-photos img {
    display: none; }
    .main .category-photos img.zelda_botw, .main .category-photos img.zelda_linksawakening, .main .category-photos img.fifa_twenty, .main .category-photos img.mario_odyssey, .main .category-photos img.animal_crossing, .main .category-photos img.super_mario_maker, .main .category-photos img.donkey_kong_tropic, .main .category-photos img.mario_bros, .main .category-photos img.mario_bros_two, .main .category-photos img.mario_bros_three, .main .category-photos img.mario_bros_four, .main .category-photos img.mario_world, .main .category-photos img.mario_duluxe, .main .category-photos img.zelda_past, .main .category-photos img.mega_man_two, .main .category-photos img.world_war_two, .main .category-photos img.rac_rally_champ, .main .category-photos img.fifa_eighteen, .main .category-photos img.asterix_game, .main .category-photos img.mario_kart_duluxe, .main .category-photos img.sonic_mania, .main .category-photos img.football_manager, .main .category-photos img.star_wing, .main .category-photos img.tetris {
      display: inline-block;
      display: none;
      /*width: 350px; */
      /*width: 430px; */
      /*width: 450px;*/
      width: 30%;
      padding: 0 15px;
      margin: 5px 0; }
      @media (max-width: 1489px) {
        .main .category-photos img.zelda_botw, .main .category-photos img.zelda_linksawakening, .main .category-photos img.fifa_twenty, .main .category-photos img.mario_odyssey, .main .category-photos img.animal_crossing, .main .category-photos img.super_mario_maker, .main .category-photos img.donkey_kong_tropic, .main .category-photos img.mario_bros, .main .category-photos img.mario_bros_two, .main .category-photos img.mario_bros_three, .main .category-photos img.mario_bros_four, .main .category-photos img.mario_world, .main .category-photos img.mario_duluxe, .main .category-photos img.zelda_past, .main .category-photos img.mega_man_two, .main .category-photos img.world_war_two, .main .category-photos img.rac_rally_champ, .main .category-photos img.fifa_eighteen, .main .category-photos img.asterix_game, .main .category-photos img.mario_kart_duluxe, .main .category-photos img.sonic_mania, .main .category-photos img.football_manager, .main .category-photos img.star_wing, .main .category-photos img.tetris {
          width: 29%;
          width: 45%; } }
      @media (max-width: 1048px) {
        .main .category-photos img.zelda_botw, .main .category-photos img.zelda_linksawakening, .main .category-photos img.fifa_twenty, .main .category-photos img.mario_odyssey, .main .category-photos img.animal_crossing, .main .category-photos img.super_mario_maker, .main .category-photos img.donkey_kong_tropic, .main .category-photos img.mario_bros, .main .category-photos img.mario_bros_two, .main .category-photos img.mario_bros_three, .main .category-photos img.mario_bros_four, .main .category-photos img.mario_world, .main .category-photos img.mario_duluxe, .main .category-photos img.zelda_past, .main .category-photos img.mega_man_two, .main .category-photos img.world_war_two, .main .category-photos img.rac_rally_champ, .main .category-photos img.fifa_eighteen, .main .category-photos img.asterix_game, .main .category-photos img.mario_kart_duluxe, .main .category-photos img.sonic_mania, .main .category-photos img.football_manager, .main .category-photos img.star_wing, .main .category-photos img.tetris {
          padding: 0px 10px; } }
      @media (max-width: 872px) {
        .main .category-photos img.zelda_botw, .main .category-photos img.zelda_linksawakening, .main .category-photos img.fifa_twenty, .main .category-photos img.mario_odyssey, .main .category-photos img.animal_crossing, .main .category-photos img.super_mario_maker, .main .category-photos img.donkey_kong_tropic, .main .category-photos img.mario_bros, .main .category-photos img.mario_bros_two, .main .category-photos img.mario_bros_three, .main .category-photos img.mario_bros_four, .main .category-photos img.mario_world, .main .category-photos img.mario_duluxe, .main .category-photos img.zelda_past, .main .category-photos img.mega_man_two, .main .category-photos img.world_war_two, .main .category-photos img.rac_rally_champ, .main .category-photos img.fifa_eighteen, .main .category-photos img.asterix_game, .main .category-photos img.mario_kart_duluxe, .main .category-photos img.sonic_mania, .main .category-photos img.football_manager, .main .category-photos img.star_wing, .main .category-photos img.tetris {
          padding: 0px 0px;
          width: 100%; } }
.main .select-category article label {
  display: block;
  /*vertical-align: top;*/ }
  .main .select-category article label input[type="checkbox"] {
    display: inline-block;
    margin-left: 5px; }
  .main .select-category article label input[type="checkbox"] + p {
    display: inline-block;
    color: red;
    vertical-align: middle;
    margin-left: 15px;
    font-size: larger;
    margin: 3px 10px;
    font-size: 16px;
    transition: color .5s; }
    .main .select-category article label input[type="checkbox"] + p:hover {
      color: black; }

/*about.scss*/
.main .sub-content {
  padding: 20px; }
  .main .sub-content p {
    font-size: 12px;
    line-height: 1.6;
    margin: 15px 0; }
  .main .sub-content div img {
    margin-top: 10px; }
  .main .sub-content #featured_image {
    display: block;
    margin: 0 auto; }
  .main .sub-content #find_more {
    background: #391434;
    color: white;
    padding: 10px;
    border: solid red 1px;
    display: block;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 10px; }

/*all photos*/
.all-photos img {
  display: inline-block; }
  .all-photos img.zelda_botw, .all-photos img.zelda_linkswakening, .all-photos img.fifa_twenty, .all-photos img.mario_odyssey, .all-photos img.animal_crossing, .all-photos img.super_mario_maker, .all-photos img.donkey_kong_tropic, .all-photos img.mario_bros, .all-photos img.mario_bros_two, .all-photos img.mario_bros_three, .all-photos img.mario_bros_four, .all-photos img.mario_world, .all-photos img.mario_duluxe, .all-photos img.zelda_past, .all-photos img.mega_man_two, .all-photos img.world_war_two, .all-photos img.rac_rally_champ, .all-photos img.fifa_eighteen, .all-photos img.asterix_game, .all-photos img.mario_kart_duluxe, .all-photos img.sonic_mania, .all-photos img.football_manager, .all-photos img.tetris {
    display: inline-block;
    width: 300px; }

.main-content {
  vertical-align: top;
  height: 10px; }
  .main-content h3 {
    font-size: 18pt; }

#form_container {
  /*margin: 10px;*/ }

label.form_label {
  width: 200px;
  display: inline-block;
  margin-bottom: 15px;
  margin: 13px 0;
  font-size: 18px;
  vertical-align: top;
  font-weight: bold; }

label#btn {
  background: yellow;
  padding: 5px; }

textarea#comments {
  width: 200px;
  height: 100px; }

input#name {
  height: 26px; }

input#privacy {
  height: 20px;
  width: 20px;
  margin-top: 11px; }

.footer {
  background: lightblue;
  background: lightblue;
  background: purple;
  background: url("../public/img/footer.png");
  background: url("../img/footer.png");
  height: 100px;
  margin-top: 20px; }
  .footer p {
    text-align: center;
    color: white;
    font-size: 10pt;
    margin-top: 5px;
    padding-top: 10px; }

/*# sourceMappingURL=style.css.map */
