/*all photos*/
.all-photos {

    img {
        display: inline-block;       
    
        &.zelda_botw,
        &.zelda_linkswakening,
        &.fifa_twenty,
        &.mario_odyssey,
        &.animal_crossing,
        &.super_mario_maker,
        &.donkey_kong_tropic,
        &.mario_bros,
        &.mario_bros_two,
        &.mario_bros_three,
        &.mario_bros_four,
        &.mario_world,
        &.mario_duluxe,
        &.zelda_past,
        &.mega_man_two,
        &.world_war_two,
        &.rac_rally_champ,
        &.fifa_eighteen,
        &.asterix_game,
        &.mario_kart_duluxe,
        &.sonic_mania,
        &.football_manager,
        &.tetris {
            display: inline-block;
            width: 300px;
        }
    
    }            

}
