/*home route partial*/

.main {

    .category-photos {
                  
        background: url("img/main_bg.jpg");
        background: url("public/img/main_bg.jpg");        
        background: url("../img/main_bg.jpg");
        background-size: cover;  
        border: yellow solid 1px;
        min-height: 1047px;

        @extend %main_bg_props;

        img {
            display: none;       
        
            &.zelda_botw,
            &.zelda_linksawakening,
            &.fifa_twenty,
            &.mario_odyssey,
            &.animal_crossing,
            &.super_mario_maker,
            &.donkey_kong_tropic,
            &.mario_bros,
            &.mario_bros_two,
            &.mario_bros_three,
            &.mario_bros_four,
            &.mario_world,
            &.mario_duluxe,
            &.zelda_past,
            &.mega_man_two,
            &.world_war_two,
            &.rac_rally_champ,
            &.fifa_eighteen,
            &.asterix_game,
            &.mario_kart_duluxe,
            &.sonic_mania,
            &.football_manager,
            &.star_wing,
            &.tetris {
                display: inline-block;
                display: none;
                /*width: 350px; */
                /*width: 430px; */
                /*width: 450px;*/
                width: 30%;
                padding: 0 15px;
                margin: 5px 0;

                @media (max-width: $lg) {
                    width: 29%;
                    width: 45%;
                }

                @media (max-width: $md) {
                    padding: 0px 10px;
                }

                @media (max-width: $sm) {
                    padding: 0px 0px;
                    width: 100%;
                }
            }
        
        } 

        .category-heading {

            h2 {
                @extend %panel_heading_h2;
            }
        }

    }

    .select-category {

        h2 {
            @extend %panel_heading_h2;

            
        }

        article {

            label {
                display: block;
                cursor: pointer;
                /*vertical-align: top;*/

                &:hover > p {
                    color: #c40505;
                }

                input[type="checkbox"] {
                    
                    display: inline-block;
                    cursor: pointer;

                    &:hover + p {
                        color: #c40505;
                    }
                }
        
                input[type="checkbox"] + p {
                    display: inline-block;
                    color: black;
                    vertical-align: middle;
                    margin-left: 15px;
                    font-size: larger;
                     margin: 3px 10px;
                    font-size: 16px;
                    transition: color .5s;

                    &:hover {
                        color: black;
                        color: #c40505;
                    }

                    &:hover + p {
                        color: #c40505;
                    }
                }
            }
        }

    }


}