/*main*/
body {
    background: $body-bg;
    font-family: $font-primary;
    font-size: $font-size-main;
    /*background: url("img/.png");*/
}

* {
    padding: 0;  
    margin: 0;
}

//Common Styles

.main {
    /*border: solid black 1px;*/
    display: grid;
    /*width: 60%;*/
    width: 100%;
    background: lightblue;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 2fr 260px;
    grid-template-columns: 1fr 360px;
    height: auto;

    @media (max-width: $md) {
        
    grid-template-columns: 1fr 160px;
    grid-template-columns: 1fr 250px;

    }

    .category-heading {
        /*padding: 20px;*/
        width: 99%;
        width: 100%;

        @media (max-width: 680px) {
            /*padding: 10px;*/
        }

        h2 {
            
            @extend %panel_heading_h2;
        }

    }

    .select-category {
        /*width: 100%;*/
        width: 86%;

        p {
            line-height: 2;
        }
    }

    .main-content {

        h3 {
            
        }

        p {
            color: black;
            font-size: 15pt;
            line-height: 1.9;
            margin-bottom: 20px;
        }

        @extend %main-content-panels;

    }

    .category-content {
        /* border: solid black 1px; */
        display: grid;
        grid-template-rows: 100px 1fr;

       /*  h2 {
            //@extend %headings;
        } */

        p {
            color: black;
        }

        /* .category-photos {            
            background: url("../public/img/main_bg.jpg");
                        
            @extend %main_bg_props;

            @extend %main-content-panels;
        } */


    }

    
}
