//*footer*/
.footer {

    background: $footer-bg;
    background: $body-bg;
    background: purple;
    background: url("../public/img/footer.png");
    background: url("../img/footer.png");
    height: 100px;
    margin-top: 20px;

    p {
        text-align: center;
        color: white;
        font-size: 10pt;
        margin-top: 5px;
        padding-top: 10px;
    }
}
