/*Header*/

.header {

    display: grid;    
    grid-template-columns: minmax(10%, 20%) 700px 1fr;
    border-bottom: black 3px solid;
    background: $header-bg;
    background: url("../public/img/top_banner.png");
    background: url("../img/top_banner.png");
    /*border: solid black 1px;*/
    text-align: center;
    padding: 10px;

    @media(min-width: $xl) {
        grid-template-columns: minmax(10%, 20%) 531px 1fr;
        /*min-height: 150px;*/
    }

    @media(max-width: $lg) {
        grid-template-columns: minmax(10%, 30%) 350px 1fr;
        vertical-align: top;
        padding: 10px;

    }

    @media(max-width: $sm) {
        display: block;
        /*grid-template-columns: minmax(10%, 14%) 40% 1fr;*/
    }

    div {
        /*border: black 1px solid;*/
        display: inline-block;
    }

    .logo-container {

         @media (max-width: $sm) {
             text-align: center;

        }

        img {
            width: 200px;
            width: 100px;
            
            @media (max-width: $sm) {
                display: block;
                margin: 0 auto;

            }
        }

        img.main-logo {
            display: block;
            border-radius: 60px;
            border-radius: 50%;
            padding: 12px;

        }
    }

    .website-title {

        vertical-align: top;
        text-align: center;

         h1 {
             
            font-family: $hd-font;
            font-size: 36pt;
            font-weight: bold;
            color: white;
            outline: tomato;

             
             /*padding-top: 30px;*/

             @media (max-width: $md) {
                padding-top: 10px;
             }
         }

    }    

    .main-nav {

        text-align: right;

        @media(max-width: $xl) {
            /*text-align: right;*/
        }

        
        @media(max-width: $md) {
            padding-top: 10px;
            text-align: center;
         }
        

     @import "nav";

        

    }

}
